
*.pyc
*.pyc
*.pyc
*.pyc

__pycache__/curator.cpython-36.pyc
__pycache__/data.cpython-36.pyc
__pycache__/evaluator.cpython-36.pyc
__pycache__/register.cpython-36.pyc

__pycache__/data.cpython-36.pyc
__pycache__/evaluator.cpython-36.pyc
settings/sccbot.json
__pycache__/curator.cpython-36.pyc
__pycache__/data.cpython-36.pyc
__pycache__/evaluator.cpython-36.pyc
__pycache__/register.cpython-36.pyc
__pycache__/settings.cpython-36.pyc
settings/set_env.bat
__pycache__/data.cpython-36.pyc
__pycache__/settings.cpython-36.pyc
settings/set_env.bat
__pycache__/data.cpython-36.pyc
settings/set_env.bat
